<!DOCTYPE html>
<html lang="en">
<head>
    <title>First Spring Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        .bg-light-green {
            background-color: #E1EDEC;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Electronic shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Show Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manage/add-item">Add Item</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="w-50 mx-auto mt-4">
       <form th:action="@{'/manage/add-item'}" method="post">
           <div class="mb-3">
               <label for="item-name" class="form-label">ITEM NAME:</label>
               <input type="text" class="form-control" id="item-name" name="item-name">
           </div>
           <div class="mb-3">
               <label for="item-description" class="form-label">ITEM DESCRIPTION:</label>
               <input type="text" class="form-control" id="item-description" name="item-description">
           </div>
           <div class="mb-3">
               <label for="item-price" class="form-label">ITEM PRICE:</label>
               <input type="text" class="form-control" id="item-price" name="item-price">
           </div>
           <button type="submit" class="btn btn-primary">ADD ITEM</button>
       </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>