<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" th:text="#{nav.logo}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a th:class="'nav-link' + ${page == '' ? ' active' : ''}"
                           href="/" th:text="#{nav.all-request}"></a>
                    </li>
                    <li class="nav-item">
                        <a th:class="'nav-link' + ${page == 'new' ? ' active' : ''}"
                           href="/list/new" th:text="#{nav.new-request}"></a>
                    </li>
                    <li class="nav-item">
                        <a th:class="'nav-link' + ${page == 'handled' ? ' active' : ''}"
                           href="/list/handled" th:text="#{nav.handled-request}"></a>
                    </li>
                    <li class="nav-item">
                        <a th:class="'nav-link' + ${page == 'add-ar' ? ' active' : ''}"
                           href="/manage/add-ar" th:text="#{nav.add-request}"></a>
                    </li>

                    <li class="nav-item">
                        <a th:class="'nav-link' + ${page == 'courses' ? ' active' : ''}"
                           href="/courses" th:text="#{nav.courses}"></a>
                    </li>
                    <li class="nav-item">
                        <a th:class="'nav-link' + ${page == 'add-course' ? ' active' : ''}"
                           href="/courses/add" th:text="#{nav.add-course}"></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="?lang=ru">RUS</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?lang=en">ENG</a>
                    </li>
                </ul>
                <form th:action="@{/}" method="post" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" name="search-string" th:placeholder="#{label.search}">
                    <button class="btn btn-light bg-gradient" type="submit" th:text="#{label.search}"></button>
                </form>
            </div>
        </div>
    </nav>
</header>